/**
 * CSS for alexandrix.com
 *
 * @author Alex Andrix <alex@alexandrix.com>
 * @since 2015-03
 */
/* Generic */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: hsl(200, 50%, 5%);
}
body {
  overflow-x: hidden;
}
body.frozen {
  overflow-y: hidden;
}
#alexandrix-website {
  padding-top: 60px;
  overflow-x: hidden;
}
.title-block {
  background: hsl(200, 50%, 20%);
  padding: 15px 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Pull to left or top */
  justify-content: flex-start;
  border-top: solid 5px hsl(200, 50%, 10%);
}
.title-block .geom {
  margin-right: 20px;
}
.page-content {
  padding: 20px;
}
.page-content.no-padding {
  padding: 0;
}
h3.categname,
.categname {
  /* Yeah stupid selector but reminds me it's mainly for h3's */
  text-align: center;
  padding: 10px 5px;
  background: hsl(200, 50%, 25%);
  border-bottom: solid 5px hsl(200, 50%, 15%);
  border-top: solid 5px hsl(200, 50%, 15%);
  font-size: 2.1rem;
}
.showmore-toggle-bar {
  position: relative;
  cursor: pointer;
}
.showmore-toggle-bar p.show-text {
  background: hsl(200, 50%, 5%);
  color: rgba(255, 255, 255, 0.45);
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 20px;
  width: 150px;
  padding: 0 10px;
  text-align: center;
}
.showmore-toggle-bar .caretcaret {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  top: 12px;
}
.showmore-toggle-bar .caretcaret .fa::before {
  color: rgba(255, 255, 255, 0.45);
}
.showmore-toggle-bar:hover p.show-text,
.showmore-toggle-bar:hover .caretcaret .fa::before {
  color: rgba(255, 255, 255, 0.6);
}
.project-tile {
  margin: 10px;
  padding: 15px;
  border: solid hsl(200, 50%, 15%) 2px;
  border-radius: 1px;
  background: hsl(200, 50%, 10%);
  max-width: 90%;
}
.project-tile.hidden {
  display: none;
}
.project-tile:hover {
  background: hsl(200, 50%, 15%);
}
.project-tile .left-side img {
  width: 400px;
  max-width: 100%;
  border-radius: 2px;
  border: solid 1px rgba(100, 100, 100, 0.5);
}
.project-tile .right-side {
  font-size: 20px;
  padding: 10px 15px 10px 25px;
  width: 500px;
}
.project-tile .right-side h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
}
.project-tile .right-side p {
  font-size: 1.2rem;
  white-space: pre-wrap;
}
.fullwidth-project {
  padding: 20px;
}
.fullwidth-project:nth-of-type(2n) {
  background: hsl(200, 50%, 8%);
}
@media (max-width: 980px) {
  .fullwidth-project > .flexrow,
  .fullwidth-project > .flexrow.flexend,
  .fullwidth-project > .flexrow.flexstart {
    flex-wrap: wrap;
    /* Centers child elements */
    justify-content: center;
    text-align: center;
  }
}
.fullwidth-project h4 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.fullwidth-project .side {
  margin: 15px;
}
.fullwidth-project .side img {
  border-radius: 2px;
  border: solid 1px rgba(100, 100, 100, 0.5);
}
.fullwidth-project .project-snapshots {
  flex-wrap: wrap;
  /* Pull to left or top */
  justify-content: flex-start;
  margin: 15px 0 0;
}
.fullwidth-project .project-snapshots > div,
.fullwidth-project .project-snapshots > img {
  margin: 0 10px 10px 0;
}
.fullwidth-project .project-snapshots > img {
  max-width: 170px;
  max-height: 100px;
}
@media (max-width: 770px) {
  .fullwidth-project .project-snapshots > img {
    max-width: 100%;
    max-height: inherit;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .fullwidth-project .project-snapshots {
    /* Centers child elements */
    justify-content: center;
  }
}
.fullwidth-project .sub-gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 980px) {
  .fullwidth-project .sub-gallery {
    /* Centers child elements */
    justify-content: center;
  }
}
.responsive-iframe-container {
  /*
	@media (max-width: 650px) {
		iframe.with-replacement {
			display: none;
		}
		iframe.with-replacement + a img.iframe-replacement {
			display: inherit;
		}
	}*/
}
@media (max-width: 660px) {
  .responsive-iframe-container {
    margin: -15px 0;
  }
}
@media (max-width: 630px) {
  .responsive-iframe-container {
    margin: -23px 0;
  }
}
@media (max-width: 600px) {
  .responsive-iframe-container {
    margin: -31px 0;
  }
}
@media (max-width: 570px) {
  .responsive-iframe-container {
    margin: -39px 0;
  }
}
@media (max-width: 540px) {
  .responsive-iframe-container {
    margin: -47px 0;
  }
}
@media (max-width: 510px) {
  .responsive-iframe-container {
    margin: -55px 0;
  }
}
@media (max-width: 480px) {
  .responsive-iframe-container {
    margin: -63px 0;
  }
}
@media (max-width: 450px) {
  .responsive-iframe-container {
    margin: -71px 0;
  }
}
@media (max-width: 420px) {
  .responsive-iframe-container {
    margin: -79px 0;
  }
}
@media (max-width: 390px) {
  .responsive-iframe-container {
    margin: -87px 0;
  }
}
@media (max-width: 360px) {
  .responsive-iframe-container {
    margin: -95px 0;
  }
}
@media (max-width: 330px) {
  .responsive-iframe-container {
    margin: -103px 0;
  }
}
.responsive-iframe-container iframe {
  max-width: 100%;
}
.responsive-iframe-container iframe.with-replacement + a img.iframe-replacement {
  display: none;
  width: 100%;
}
.responsive-iframe-container.youtube-iframe-container {
  margin: 0;
}
/* Dark template */
/* White template WIP */
/*
@background-color: @blue-95;
@header-color: @blue-85;
@header-border-color: @blue-90;
@title-block-color: @blue-80;
@title-block-border-color: @blue-90;
@category-title-color: @blue-75;
@category-title-border-color: @blue-75;
@text-color: @blue-dark-text;
*/
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.uppercase {
  text-transform: uppercase;
}
/* Quick layouting */
.margin-v-large {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-v {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-v-small {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Responsive toggling */
@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
}
/* Flexbox helpers */
.flexcol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.flexwrap {
  flex-wrap: wrap;
}
.flexcenter {
  /* Centers child elements */
  justify-content: center;
}
.flexbetween {
  /* Max space between child elements */
  justify-content: space-between;
}
.flexstart {
  /* Pull to left or top */
  justify-content: flex-start;
}
.flexend {
  /* Pull to right or bottom */
  justify-content: flex-end;
}
.flexchildrenstart {
  /* Children are self-aligned to upper line / leftmost line */
  align-items: flex-start;
}
.flexchildrenend {
  /* Children are self-aligned to bottom line / rightmost line */
  align-items: flex-end;
}
/* Enable .containers to contain flex children */
.container.flexrow::before,
.container-fluid.flexrow::before,
.container.flexcol::before,
.container-fluid.flexcol::before,
.container.flexrow::after,
.container-fluid.flexrow::after,
.container.flexcol::after,
.container-fluid.flexcol::after {
  content: none;
}
/* Centering with margin: auto */
.marjinoto {
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
/* Line separator */
hr {
  border-bottom: solid 1px #CCC;
  border-right: none;
  border-left: none;
  border-top: none;
}
/* Cute glowy text */
.white-shadow {
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 15px;
}
/* While img is loading (rectangle with a non-null width and some discreet background) */
.img-placeholder {
  min-width: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.05);
}
p.credits {
  opacity: 0.4;
  font-size: 0.7rem;
  text-align: center;
}
hr {
  margin: 30px 0 15px;
  width: 60%;
  margin-left: 20%;
  border-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 800px) {
  hr {
    width: 90%;
    margin-left: 5%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  font-family: 'Raleway', sans-serif;
  color: hsl(200, 20%, 80%);
}
.weight-200 {
  font-weight: 200;
}
.weight-300 {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.acidbutton {
  background: hsl(200, 50%, 20%);
  border-radius: 2px;
  font-weight: 200;
  border: none;
  box-shadow: #000 0 0 3px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  padding: 0.2em 0.7em;
  font-size: 1rem;
}
.acidbutton:hover {
  background: hsl(200, 50%, 40%);
  text-shadow: white 0 0 3px;
}
.acidbutton.big-btn {
  padding: 0.4em 1em;
  font-size: 1.5rem;
}
button.acidbutton {
  margin: 1em 0;
}
button.acidbutton a {
  text-decoration: none;
}
button.acidbutton + button.acidbutton {
  margin-left: 1em;
}
.radios {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  margin-left: 25px;
}
.radios .radio {
  padding: 0.3em 0.7em;
  border-radius: 5000px;
  margin: auto 12px;
  border: solid 0.5px hsl(200, 50%, 80%);
  cursor: pointer;
  opacity: 0.8;
}
.radios .radio span.fa {
  margin-right: 4px;
}
.radios .radio span.fa::before {
  content: "\f111";
}
.radios .radio:hover {
  background: hsl(200, 50%, 15%);
  opacity: 0.95;
}
.radios .radio.active {
  background: hsl(200, 50%, 10%);
  opacity: 0.95;
}
.radios .radio.active span.fa::before {
  content: "\f192";
}
.geom .shape {
  background: hsl(200, 50%, 50%);
  padding: 4px;
}
.geom .shape .inner {
  width: 19px;
  height: 19px;
  background: hsl(200, 50%, 20%);
}
.geom .shape.round,
.geom .shape.round .inner {
  border-radius: 50%;
}
.geom.in-header .shape {
  background: hsl(200, 50%, 50%);
  padding: 2px;
}
.geom.in-header .shape .inner {
  width: 14px;
  height: 14px;
  background: hsl(200, 50%, 15%);
  transition: background 500ms;
}
.geom.is-rotated .shape {
  transform: rotate(45deg);
}
img.blob {
  width: 100px;
}
.format-icons {
  height: 1rem;
  padding-bottom: 1.5rem;
}
.format-icons span {
  margin: 0 0.7rem 0.7rem 0;
  border: solid white 1px;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  color: hsl(200, 20%, 80%);
  font-family: 'Raleway', sans-serif;
}
/* Specific */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Pull to left or top */
  justify-content: flex-start;
  border-bottom: solid 5px hsl(200, 50%, 10%);
  width: 100%;
  height: 60px;
  background: hsl(200, 50%, 15%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header.mobile-menu-open {
  height: auto;
}
.header .logo {
  width: 70px;
  height: 60px;
  position: relative;
}
.header .logo img {
  width: 55px;
  height: 55px;
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#menu .menu-tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
  padding: 0 12px;
  transition: background 500ms;
  height: 60px;
  font-size: 1rem;
}
#menu .menu-tab:hover,
#menu .menu-tab.router-link-exact-active,
#menu .menu-tab:hover .geom .inner,
#menu .menu-tab.router-link-exact-active .geom .inner {
  background: hsl(200, 50%, 5%);
}
#menu .menu-tab.two-lines-tab {
  padding: 11px 14px 11px 11px;
  font-size: 0.9rem;
}
#menu .menu-tab,
#menu .menu-tab:visited,
#menu .menu-tab:focus {
  color: hsl(200, 20%, 80%);
  text-decoration: none;
}
#menu .menu-tab .geom {
  margin-right: 10px;
}
#menu-mobile-burger {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background: hsl(200, 50%, 15%);
}
/* Mobile menu */
@media (max-width: 1100px) {
  .header {
    /* Max space between child elements */
    justify-content: space-between;
  }
  .header.mobile-menu-open .logo {
    display: none;
  }
  .header.mobile-menu-open #menu {
    display: inherit;
    padding-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* Centers child elements */
    justify-content: center;
    width: 100%;
    margin-right: 20px;
  }
  .header.mobile-menu-open #menu .menu-tab {
    width: 100%;
    /* Pull to left or top */
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header.mobile-menu-open #menu .menu-tab.two-lines-tab {
    padding: 15px 20px;
  }
  #menu {
    display: none;
  }
  #menu-mobile-burger {
    display: inherit;
  }
}
.footer {
  padding: 15px;
  text-align: center;
  color: #555;
  background: hsl(200, 50%, 10%);
  user-select: none;
}
.footer img.footer-logo {
  width: 25px;
}
.footer p.copyright {
  font-size: 16px;
}
.footer p.crafted {
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
}
.footer p.crafted span {
  padding-top: 7px;
}
.footer p.crafted img {
  width: 15px;
  height: 15px;
  padding-top: 5px;
  margin: 0 3px;
}
.footer p.crafted img.jquery {
  margin-left: 5px;
}
.footer p.version {
  font-size: 0.8rem;
}
.click-and-hue * {
  cursor: help;
}
#home .home-whatsnew .whatsnew-content {
  padding: 10px 15px 30px;
}
@media (max-width: 767px) {
  #home .home-whatsnew .whatsnew-content {
    padding: 0;
  }
}
#home .home-whatsnew .whatsnew-content .news-blocks {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Centers child elements */
  justify-content: center;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block {
  margin: 30px;
  background: rgba(255, 255, 255, 0.04);
  padding: 25px;
  position: relative;
}
@media (max-width: 991px) {
  #home .home-whatsnew .whatsnew-content .news-blocks .news-block {
    margin: 25px 10px;
  }
}
@media (max-width: 767px) {
  #home .home-whatsnew .whatsnew-content .news-blocks .news-block {
    padding: 15px;
  }
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ynov-gendes img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-nan-artworks img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-fds-ens-2022 img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-nan-skylab img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-sisyphe img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gdlkv-attractors img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gdchels img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp-conflu img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-portraits-2 img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp2-music img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp2-wip img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp-website img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-tvgre img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-mea-wip img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-m2-gallery img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-digital-arts-camp img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-portraits-1-end img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-technicarticle img {
  width: 350px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gw190814-article img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-share-my-space-calm-mtos img {
  width: 450px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-fopti img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-fds21 img,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-f1a img {
  width: 550px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-feb-2021 img {
  margin: 0.3em 0;
  width: 80px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-turbulence-pop,
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gretsi {
  max-width: 500px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gdchels img {
  background: white;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-gamdif1 img {
  max-width: 100%;
  width: 750px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp2-sharing p.vp2-sharing-list {
  font-size: 0.85em;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-vp2-sharing img {
  max-width: 100%;
  width: 550px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-m2-gallery img {
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-dame-recherche img {
  width: 180px;
  margin: 10px;
  flex-grow: 1;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-subs img {
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-subs img.img-1 {
  max-height: 200px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-subs .friend-logos {
  padding-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-subs .friend-logos img {
  max-height: 100px;
  margin: 20px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-djerba-article-1 img {
  width: 350px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-portraits-1-start img {
  max-height: 220px;
  max-width: 100%;
  margin: 10px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-kinexp img {
  max-height: 220px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ecl-vr img {
  height: 200px;
  max-width: 100%;
  margin: 10px;
}
@media (max-width: 767px) {
  #home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ecl-vr .flexrow {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  #home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ecl-vr img {
    width: 300px;
    height: auto;
  }
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ecl-exhib img {
  width: 400px;
  max-width: 100%;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-ecl-exhib .button-container {
  padding-top: 20px;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-technicarticle p.credits {
  font-size: 0.7rem;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-exhib .varphy-spoiler {
  margin-bottom: 10px;
  /*
							@media (max-width: 500px) {
								.flexcol();
							}*/
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block.news-varphy-exhib .varphy-spoiler img {
  width: 180px;
  margin: 10px;
  border: #222 1px solid;
  flex-grow: 1;
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block p.article-date {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -20px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.3);
}
#home .home-whatsnew .whatsnew-content .news-blocks .news-block button.acidbutton {
  margin-bottom: 0;
}
#home .home-whatsnew .whatsnew-content .loadmore-holder {
  flex-basis: 100%;
}
#front {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: black;
  z-index: 1;
  overflow-y: scroll;
  transition: opacity 500ms;
  user-select: none;
}
#front.hidden {
  display: none;
}
#front .quit {
  position: fixed;
  top: 0;
  right: 18px;
  opacity: 0.5;
  background: black;
}
#front .quit:hover {
  opacity: 0.95;
}
#front .nav-arrow#gallery-prev {
  top: calc(50vh - 60px);
  left: 30px;
}
#front .nav-arrow#gallery-next {
  top: calc(50vh - 60px);
  right: 30px;
}
#front .nav-arrow {
  opacity: 0.5;
  width: 60px;
  height: 60px;
  position: fixed;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
#front .nav-arrow:hover {
  opacity: 0.95;
}
#front .nav-arrow .bar {
  background: white;
  border-radius: 1px;
  width: 25px;
  height: 4px;
  position: absolute;
  left: 17px;
  transition: transform 200ms, height 200ms, left 150ms;
}
#front .nav-arrow#gallery-prev .bar {
  left: 17px;
}
#front .nav-arrow#gallery-prev .bar-top {
  transform-origin: 0 0;
  top: 29px;
  transform: rotate(-45deg);
}
#front .nav-arrow#gallery-prev .bar-bot {
  transform-origin: 0 4px;
  transform: rotate(45deg);
  top: 25px;
}
#front .nav-arrow#gallery-next .bar {
  left: 24px;
}
#front .nav-arrow#gallery-next .bar-top {
  transform-origin: 0 0;
  top: 12px;
  transform: rotate(45deg);
}
#front .nav-arrow#gallery-next .bar-bot {
  transform-origin: 0 4px;
  transform: rotate(-45deg);
  top: 44px;
}
#front #front-artwork {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  padding: 20px 0 40px;
}
#front #front-artwork img.fullone {
  border: solid 1px rgba(125, 125, 125, 0.5);
  touch-action: manipulation;
}
#front #front-artwork .details {
  text-align: center;
  padding: 0 40px;
}
#front #front-artwork .details .description p,
#front #front-artwork .details .description h3 {
  color: hsl(200, 50%, 90%);
}
#front #front-artwork .details .description h3.title {
  font-size: 1.5em;
  padding: 25px 0 1rem;
}
#front #front-artwork .details .description p.text {
  font-size: 1em;
}
#front .loader {
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 120px;
  height: 170px;
}
#front .loader.hidden {
  display: none;
}
#front .loader .loader-animation {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
#front .loader .loader-animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  transform-origin: 50% 70%;
  animation: sway-revert 3000ms infinite linear;
  z-index: 1;
}
#front .loader .loader-animation img:nth-of-type(1) {
  animation-delay: 0ms;
  z-index: 1;
}
#front .loader .loader-animation img:nth-of-type(2) {
  animation-delay: 1500ms;
  z-index: 1;
  opacity: 0;
}
@keyframes sway-revert {
  from {
    transiform: scale(1);
    z-index: 3;
    opacity: 1;
  }
  10% {
    transform: scale(0.15);
    z-index: 3;
  }
  30% {
    z-index: 1;
  }
  60% {
    z-index: 2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 500px) {
  .gallery-content .artwork img {
    height: 300px;
  }
  /* Radial */
  .gallery-content .artwork#art-id-2015-4 img {
    /* White Time */
    width: 600px;
    margin-left: -75px;
  }
  .gallery-content .artwork#art-id-2015-5 img {
    /* Harsh */
    width: 600px;
    margin-left: -75px;
  }
  .gallery-content .artwork#art-id-2015-8 img {
    /* Kuzco 5 */
    width: 550px;
    margin-left: -50px;
  }
  .gallery-content .artwork#art-id-2015-10 img {
    /* Rhodo */
    width: 600px;
    margin-left: -75px;
  }
  .gallery-content .artwork#art-id-2015-11 img {
    /* Shiver */
    height: 450px;
    margin-top: -75px;
    margin-bottom: -75px;
  }
  /* Gravitational */
  .gallery-content .artwork#art-id-2016-1 img {
    /* Gravitational Blackhole */
    width: 550px;
    margin-left: -50px;
  }
  .gallery-content .artwork#art-id-2015-9 img {
    /* Gandalf Thinking */
    width: 500px;
    margin-left: -25px;
  }
  /* Experiments */
  .gallery-content .artwork#art-id-2015-2 img {
    /* PlayChaos 1 */
    width: 550px;
    margin-left: -50px;
  }
  .gallery-content .artwork#art-id-2015-3 img {
    /* Zeus Bolt */
    width: 600px;
    margin-left: -75px;
  }
  .gallery-content .artwork#art-id-2015-12 img {
    /* Summer 2015 */
    width: 600px;
    margin-left: -65px;
  }
  .gallery-content .artwork#art-id-2015-6 img {
    /* Duel */
    width: 550px;
    margin-left: 0;
  }
  .gallery-content .artwork#art-id-2017-3 img {
    /* Lightbeams Eye */
    width: 570px;
    margin-left: -55px;
  }
  .gallery-content .artwork#art-id-2017-1 img {
    /* Hexocet Explode */
    width: 570px;
    margin-left: -55px;
  }
}
.artwork {
  width: calc(25% - 2 * 5px - 2px);
}
@media (max-width: 1150px) {
  .artwork {
    width: calc(33% - 2 * 5px - 2px);
  }
}
@media (max-width: 850px) {
  .artwork {
    width: calc(50% - 2 * 5px - 2px);
  }
}
@media (max-width: 450px) {
  .artwork {
    width: 100%;
    max-width: 450px;
  }
}
.artwork * {
  cursor: pointer;
}
.artwork h4.title {
  color: white;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.7em 0;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}
.artwork img {
  width: 100%;
  outline: solid 1px rgba(100, 100, 100, 0.7);
  min-width: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.05);
}
#films .side + img {
  width: 600px;
  max-width: 100%;
}
#illustration .gw190814-image {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  padding: 20px 10px;
}
#illustration .gw190814-image img {
  width: 600px;
  max-width: 100%;
  margin: 20px 30px;
}
@media (max-width: 980px) {
  #illustration .gw190814-image {
    flex-wrap: wrap;
    text-align: center;
  }
}
#blog .meh,
#vimeo .meh,
#guy-teube .meh,
#talks .meh {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  padding: 10px 10px;
}
#blog .meh img,
#vimeo .meh img,
#guy-teube .meh img,
#talks .meh img {
  max-width: 100%;
  max-height: 280px;
  margin: 20px 30px;
}
@media (max-width: 980px) {
  #blog .meh,
  #vimeo .meh,
  #guy-teube .meh,
  #talks .meh {
    flex-wrap: wrap;
    text-align: center;
  }
}
#vp-extras .project-tile {
  padding: 20px;
}
#vp-extras iframe,
#vp-extras img.vp-reportage {
  max-width: 100%;
  margin-bottom: 20px;
}
#vp-extras p {
  text-align: center;
}
#vjing .vjimg img {
  margin: 5px;
  height: 220px;
  border-radius: 2px;
  border: solid 1px rgba(100, 100, 100, 0.7);
  min-width: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.05);
}
#kinexperience .kinexp-snapshots img {
  height: 150px;
  margin: 10px;
}
#kinexperience iframe {
  max-width: 90%;
}
#ownership .ownership-block {
  margin: 10px;
  max-width: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
}
#ownership .ownership-block img {
  max-height: 80px;
  max-width: 110px;
  margin-right: 10px;
}
#ownership .ownership-block p {
  font-size: 0.8rem;
}
#ownership .ownership-block p.ref::before {
  content: "ref: ";
}
#ownership .ownership-block p.owner {
  font-size: 0.6rem;
  font-style: italic;
}
#cc .cc-main-img {
  max-width: 100%;
  max-height: 280px;
  margin: 10px 30px;
}
#web-dataviz .web-dataviz-projects {
  padding: 20px 15px;
}
#web-dataviz .showmore-toggle-bar p.show-text {
  width: 265px;
}
#web-dataviz .projects-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Centers child elements */
  justify-content: center;
}
#web-dataviz .project-tile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  align-self: stretch;
}
@media (max-width: 850px) {
  #web-dataviz .project-tile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  #web-dataviz .project-tile .right-side {
    text-align: center;
    max-width: 100%;
  }
  #web-dataviz .project-tile .right-side h4 {
    margin-top: 5px;
  }
}
#about .statement-page-content {
  background: black;
}
#about .statement {
  padding-bottom: 1rem;
}
#about .statement .blop {
  margin-top: 50vh;
}
#about .statement .statement-core p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
#about .showmore-toggle-bar p.show-text {
  width: 265px;
}
#about .showmore-toggle-bar.load-longer-bio p.show-text {
  background: black;
}
#about .longer-bio {
  width: 90%;
  margin-left: 5%;
  font-weight: 200;
}
#about .longer-bio p {
  text-align: justify;
  font-size: 1rem;
}
#about .about-events .events-content .upcoming-events,
#about .about-events .events-content .past-events {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
}
#about .about-events .events-content {
  padding: 20px 30px 50px;
}
#about .about-events .events-content .event-block {
  margin-bottom: 15px;
}
#about .about-events .events-content .event-block p span.date {
  font-size: 1.1rem;
  font-weight: 600;
}
#about .about-events .events-content .event-block p span.what {
  font-style: italic;
}
#about .about-events .events-content .event-block p span.where {
  font-size: 0.85rem;
}
#about .about-events .events-content p.past-events-title,
#about .about-events .events-content p.upcoming-events-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: 200;
}
#about .about-links {
  padding: 30px 60px 60px;
}
@media (max-width: 991px) {
  #about .about-links {
    padding: 30px 25px;
  }
}
#about .about-links h4 {
  font-size: 1.3rem;
  margin: 1em 0 0.5em;
}
#about .about-links p {
  text-align: left;
  font-size: 1rem;
  word-wrap: break-word;
  margin-bottom: 7px;
}
#contact .page-content {
  padding: 100px 20px 40px;
  background: black;
}
#contact .page-content .feel-free .blop {
  margin: 50vh 0 100vh;
}
#contact .page-content .feel-free p {
  text-align: center;
  font-size: 1.4rem;
}
#contact a.mailme {
  text-decoration: none;
  font-size: 2rem;
}
#contact a.mailme:hover {
  text-decoration: underline;
}
#cv {
  position: relative;
  min-height: 300px;
}
#cv h3 {
  text-align: center;
  color: #eee;
  white-space: pre-wrap;
  font-size: 60px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}
#cv .cvcore {
  /* Generic */
  /* Specific */
}
#cv .cvcore > div {
  margin: 40px 0;
}
#cv .cvcore .item {
  padding: 10px;
}
#cv .cvcore .item .itemhead {
  text-align: center;
}
#cv .cvcore .item .itemhead img,
#cv .cvcore .item .itemhead h5,
#cv .cvcore .item .itemhead a {
  display: inline-block;
  vertical-align: middle;
}
#cv .cvcore .item .itemhead a {
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  padding: 0 10px;
}
#cv .cvcore .item .itemhead a:hover {
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 5px hsla(0, 0%, 100%, 0.8);
}
#cv .cvcore .roundicon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
}
#cv .cvcore .flagicon {
  width: 50px;
  border-radius: 2px;
}
#cv .cvcore h4 {
  text-align: center;
  font-size: 2rem;
  background: hsl(200, 50%, 15%);
  width: 86%;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px;
}
#cv .cvcore div h5 {
  font-size: 30px;
  padding: 0 10px;
  color: #ddd;
}
#cv .cvcore .moreabout {
  color: #777;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
#cv .cvcore .moreabout p {
  padding: 4px;
}
#cv .cvcore .intro *,
#cv .cvcore .enjoy,
#cv .cvcore .abroad,
#cv .cvcore .schools,
#cv .cvcore .webskills,
#cv .cvcore .cake,
#cv .cvcore .cake .slice,
#cv .cvcore .recom {
  display: none;
  opacity: 0;
  /* fadeIn on load */
}
#cv .cvcore .intro {
  padding: 10px 0 20px;
}
#cv .cvcore .intro p {
  text-align: center;
  font-size: 1.7rem;
}
#cv .cvcore .enjoy .itemhead img {
  width: 35px;
}
#cv .cvcore .abroad {
  text-align: center;
}
#cv .cvcore .languages,
#cv .cvcore .countries {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  min-width: 40%;
}
#cv .cvcore .languages .french img,
#cv .cvcore .languages .english img {
  width: 80px;
}
#cv .cvcore .languages .swedish img {
  width: 60px;
}
#cv .cvcore .languages .spanish img,
#cv .cvcore .languages .chinese img {
  width: 30px;
}
#cv .cvcore .countries .france img {
  width: 80px;
}
#cv .cvcore .countries .australia img {
  width: 40px;
}
#cv .cvcore .countries .sweden img {
  width: 50px;
}
#cv .cvcore .schools img {
  width: 60px;
  border-radius: 3px;
}
#cv .cvcore .schools a {
  text-decoration: underline;
  color: #ddd;
  font-size: 28px;
}
#cv .cvcore .schools a:hover {
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 5px;
}
#cv .cvcore .webskills h5 {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}
#cv .cvcore .webskills p {
  text-align: center;
  color: #999;
  margin: auto;
}
#cv .cvcore .webskills p.overall {
  font-size: 1.7rem;
  max-width: 700px;
  margin: 30px auto 20px;
  color: white;
}
#cv .cvcore .webskills .codeanddesign {
  text-align: center;
}
#cv .cvcore .webskills .codeanddesign .code,
#cv .cvcore .webskills .codeanddesign .design {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
#cv .cvcore .webskills .somexp p {
  font-size: 1.1rem;
}
#cv .cvcore .webskills .somexp p:nth-of-type(1) {
  font-size: 1.5rem;
}
#cv .cvcore .webskills .somexp p:nth-of-type(2) {
  font-size: 1.4rem;
}
#cv .cvcore .cake {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
}
#cv .cvcore .slice {
  margin: 10px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  padding: 10px;
  color: white;
  border: none;
  background: rgba(255, 255, 255, 0.025);
  box-shadow: none;
  border-radius: 10px;
}
@media (max-width: 767px) {
  #cv .cvcore .slice {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
#cv .cvcore .slice:hover {
  background: linear-gradient(to bottom left, #222, #333);
}
#cv .cvcore .slice .left-side {
  width: 180px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
}
#cv .cvcore .slice .left-side p.year {
  order: 1;
  margin: -15px auto -15px;
  color: hsl(210, 60%, 40%);
  font-size: 80px;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.75) -1px 0 10px;
}
#cv .cvcore .slice .left-side p.skill {
  order: 2;
  margin: auto;
  padding: 5px 10px;
  font-size: 25px;
  width: 100%;
  text-align: center;
  color: #999;
  text-shadow: rgba(0, 0, 0, 0.6) -1px 0 4px;
}
#cv .cvcore .slice .right-side {
  padding: 0 20px;
  max-width: 640px;
}
#cv .cvcore .slice .right-side h5 {
  font-size: 25px;
  color: #ddd;
  padding: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#cv .cvcore .slice .right-side p {
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #ddd;
}
#cv .cvcore .slice .right-side p.institution {
  font-size: 20px;
  color: #888;
  margin-bottom: 10px;
}
#cv .cvcore .slice .right-side p.when {
  font-weight: bold;
}
#cv .cvcore .slice .right-side p a {
  color: #999;
  cursor: pointer;
}
#not-found {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 50px;
}
#not-found img {
  width: 250px;
  margin-bottom: 20px;
}
#not-found p.msg-404 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#not-found p.pre-trouble {
  margin-top: 15px;
}
#not-found .trouble {
  position: relative;
  width: 400px;
  height: 400px;
  /* Faces displays */
}
#not-found .trouble .icosahedron {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: 100px 86.6px -152px;
  /* a x (0.5, V3/4, 0.76) */
}
#not-found .trouble .triangle,
#not-found .trouble .depth1,
#not-found .trouble .depth2 {
  overflow: hidden;
}
#not-found .trouble .triangle {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  transform-origin: 0 0;
  border-top: solid 0px black;
}
#not-found .trouble .depth1 {
  height: 100%;
  width: 100%;
  transform: rotate(-30deg);
  position: absolute;
  transform-origin: 0 0;
  top: 0px;
  border-left: solid 0px rgba(0, 0, 0, 0.5);
}
#not-found .trouble .depth2 {
  height: 100%;
  width: 100%;
  background: none;
  transform-origin: 0 100%;
  transform: rotate(-30deg);
  border-bottom: solid 0px black;
  margin-top: 0px;
}
#not-found .trouble .vertex {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: none;
}
#andrix-brand {
  padding: 30px;
}
#andrix-brand img {
  max-width: 100%;
}
/*.header,
.title-block {
	animation: huerot 200s infinite;
}

@keyframes huerot {
	from { filter: hue-rotate(0deg)}
	to { filter: hue-rotate(360deg)}
}
*/
.logo-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Centers child elements */
  justify-content: center;
  padding: 40px 0;
  background: hsl(200, 50%, 15%);
}
@media (max-width: 800px) {
  .logo-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.logo-links a {
  color: white;
  margin: 10px 25px;
}
.logo-links a span.fa {
  font-size: 60px;
}
.logo-links a span.fa:hover {
  text-shadow: rgba(255, 255, 255, 0.85) 0 0 50px;
}
.coming-soon {
  position: relative;
  text-align: center;
  height: 250px;
}
.coming-soon .logo {
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 150px;
  height: 150px;
}
.coming-soon .logo img,
.coming-soon .logo svg {
  width: 150px;
  height: 150px;
  animation: spin 3s linear infinite, blur 3s infinite;
}
.coming-soon p {
  /* DON'T FORGET position: relative ON THE PARENT */
  /* AND TO GIMME A HEIGHT AND WIDTH */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 2rem;
  margin-left: 10px;
  font-weight: 200;
  text-align: center;
  padding: 100px 20px;
}
.page-banner {
  position: relative;
  filter: contrast(110%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
  background-position-y: 50%;
}
@media (max-width: 400px) {
  .page-banner {
    height: 100px;
  }
}
#home .page-banner {
  background-image: url('../img/misc/header/header-vp-5.jpg');
  background-position-y: 25%;
}
#gallery .page-banner {
  background-image: url('../img/misc/header/annihilation.jpg');
}
#films .page-banner {
  background-image: url('../img/misc/header/header-vp-9.jpg');
}
@media (max-width: 500px) {
  #films .page-banner {
    background-size: auto;
    background-position-x: 50%;
  }
}
#web-dataviz .page-banner {
  background-image: url('../img/projects/huehuntresults-full.png');
  background-position-y: 40%;
}
#cc .page-banner {
  background-image: url('../img/misc/header/header-orb-colors.jpg');
}
#more .page-banner {
  background-image: url('../img/misc/header/header-vp-1.jpg');
  background-position-y: 32%;
}
#about .page-banner {
  background-image: url('../img/misc/header/header-rhodo.jpg');
}
#contact .page-banner {
  background-image: url('../img/misc/hex-bubbles.jpg');
}
.autoimage {
  background-size: auto;
  background-position-x: 50%;
}
@media (max-width: 400px) {
  .small-mobile-height {
    height: 100px;
  }
}
.mobile-burger {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.mobile-burger .bar {
  background: white;
  border-radius: 1px;
  width: 30px;
  height: 4px;
  position: absolute;
  left: 15px;
  transition: transform 200ms, height 200ms, left 150ms;
}
.mobile-burger .bar-1 {
  top: 18px;
  transform-origin: 0 0;
}
.mobile-burger .bar-2 {
  top: 28px;
  transition: height 200ms;
}
.mobile-burger .bar-3 {
  top: 38px;
  transform-origin: 0 4px;
}
.mobile-burger.open .bar {
  left: 21px;
}
.mobile-burger.open .bar-1 {
  transform: rotate(45deg);
}
.mobile-burger.open .bar-2 {
  height: 0;
  transition: height 0ms;
}
.mobile-burger.open .bar-3 {
  transform: rotate(-45deg);
}
@keyframes spinblur {
  from {
    transform: rotate(0deg);
    filter: blur(1px);
  }
  50% {
    transform: rotate(180deg);
    filter: blur(15px);
  }
  to {
    transform: rotate(360deg);
    filter: blur(1px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blur {
  from {
    filter: blur(1px);
  }
  50% {
    filter: blur(30px);
  }
  to {
    filter: blur(1px);
  }
}
