#about {
	.statement-page-content,
	.showmore-toggle-bar p.show-text {
		background: black;
	}

	// Intro text on About and Contact pages
	.statement {
		padding-bottom: 1rem;

		.blop {
			margin-top: 50vh;
		}
		.statement-core p {
			text-align: center;
			font-size: 1.5rem;
			.weight-300();
		}
	}

	.showmore-toggle-bar p.show-text {
		width: 265px;
	}

	.longer-bio {
		width: 90%;
		margin-left: 5%;
		.weight-200();

		p {
			text-align: justify;
			font-size: 1rem;
		}
	}

	.about-links {
		padding: 30px 60px 60px;
		@media (max-width: @sm-md) { padding: 30px 25px; }

		h4 {
			font-size: 1.3rem;
			margin: 1em 0 .5em;
		}
		p {
			text-align: left;
			font-size: 1rem;
			word-wrap: break-word;
			margin-bottom: 7px;
		}
	}

}
