#about {
	.statement-page-content {
		background: black;
	}

	// Intro text on About and Contact pages
	.statement {
		padding-bottom: 1rem;

		.statement-core p {
			text-align: center;
			font-size: 1.5rem;
			.weight-300();
		}
		img#tilted-square-frame {
			width: 400px;
			max-width: 88%;

			&.tilt-even-more {
				transform: rotate(45deg);
			}

		}
		
	}

	.about-events {
		
		.events-content {
			padding: 20px 30px 50px;

			.upcoming-events,
			.past-events {
				.center();
				.flexcol();
				.flexcenter();
			}

			.load-past-events.hidden,
			.past-events.hidden {
				display: none;
			}

			.event-block {
				margin-bottom: 15px;

				p {
					span.date {
						font-size: 1.1rem;
						font-weight: 600;
					}
					span.what {
						font-style: italic;
					}
					span.where {
						font-size: .85rem;
					}
				}
			}

			p.past-events-title,
			p.upcoming-events-title {
				font-size: 1.4rem;
				text-transform: uppercase;
				margin-bottom: 20px;
				margin-top: 40px;
				.weight-200();
			}
		}
	}

	.about-links {
		padding: 30px 60px 60px;
		@media (max-width: @sm-md) { padding: 30px 25px; }

		h4 {
			font-size: 1.3rem;
			margin: 1em 0 .5em;
		}
		p {
			text-align: left;
			font-size: 1rem;
			word-wrap: break-word;
			margin-bottom: 7px;
		}
	}

}
