// main: "./main.less"

#about {
	.statement-page-content {
		background: black;
	}

	// Intro text on About and Contact pages
	.statement {
		padding-bottom: 1rem;

		.statement-core {
			padding: 0 10%;

			p {
				text-align: center;
				font-size: 1.5rem;
				font-weight: 300;
			}
		}
		img#tilted-square-frame {
			width: 400px;
			max-width: 88%;

			&.tilt-even-more {
				transform: rotate(45deg);
			}

		}
	}

	.about-links {
		padding: 30px 60px 60px;
		@media (max-width: 991px) { padding: 30px 25px; }

		h4 {
			font-size: 1.3rem;
			margin: 1em 0 .5em;
		}
		p {
			text-align: left;
			font-size: 1rem;
			word-wrap: break-word;
			margin-bottom: 7px;
		}
	}

}
