#animations {
	p.seen {
		margin-bottom: 0px;
		margin-top: 15px;
		font-size: 0.9rem;
	}
	.randomize {
		.flexrow();
		.flexcenter();
		margin-top: -10px;
		margin-bottom: 10px;
	}
}

// Used on homepage and animations page
.videos {
	.flexrow();
	.flexcenter();
	.flexwrap();
	margin-bottom: 15px;

	video {
		height: 350px;
		border-radius: 2px;
		border: solid 1px rgba(100, 100, 100, 0.7);
		margin: 5px;
	}

	@media (max-width: 800px) {
		.flexcol();

		video {
			max-width: 100%;
			height: auto;
		}
	}
	@media (max-width: 650px) {
		video {
			width: 100%;
		}
	}
}
