.acidbutton {
	background: @blue-20;
	border-radius: 2px;
	padding: 0.5em 2em;
	font-size: 2rem;
	.weight-200();
	margin: 20px;
	border: none;
	box-shadow: #000 0 0 3px;
	color: @white;
	text-decoration: none;
	.pointer();

	&:hover {
		background: @blue-40;
		text-shadow: white 0 0 3px;
	}
}
.radios {
	.flexrow();
	.flexcenter();

	.radio {
		padding: 3px 10px;
		border-radius: 50px;
		margin: 10px;
		.pointer();
		color: @white;

		span.fa {
			margin-right: 4px;

			&::before {
				content: "\f111";// fa-circle
			}
		}

		&.active {
			background: @green;

			span.fa::before {
				content: "\f192"; // fa-dot-circle
			}
		}

	}
}
