@white: #FFFFFF;
@blue: #3C64A9;
@light-blue: #739BCD;
@darker-grey: #63686C;
@dark-grey: #808993;
@medium-grey: #C9C9C9;
@light-grey: #F6F6F6;
@blue-grey: #A4C2CD;
@light-blue-grey: #E3ECF5;
@orange: #EB6F07;
@red: #ED5D5D;
@green: #32BC79;

@blue-hover: lighten(@blue, 10%);
@trainer-color: @blue-grey;
@trainer-color-hover: lighten(@trainer-color, 10%);
@org-color: @dark-grey;
@org-color-hover: lighten(@org-color, 10%);
@client-color: @light-blue;
@client-color-hover: lighten(@light-blue, 10%);
@logo-grey: @dark-grey;
@bkg-grey: #E4E4E4;
@input-bkg: @light-grey;
