// main: "./main.less"

@white: #FFFFFF;
@super-light-grey: #EEE;

@sat: 50%;
@blue-05: hsl(200, @sat, 5%);
@blue-08: hsl(200, @sat, 8%);
@blue-10: hsl(200, @sat, 10%);
@blue-15: hsl(200, @sat, 15%);
@blue-20: hsl(200, @sat, 20%);
@blue-25: hsl(200, @sat, 25%);
@blue-40: hsl(200, @sat, 40%);
@blue-45: hsl(200, @sat, 45%);
@blue-50: hsl(200, @sat, 50%);
@blue-55: hsl(200, @sat, 55%);
@blue-60: hsl(200, @sat, 60%);
@blue-65: hsl(200, @sat, 65%);
@blue-70: hsl(200, @sat, 70%);
@blue-75: hsl(200, @sat, 75%);
@blue-80: hsl(200, @sat, 80%);
@blue-85: hsl(200, @sat, 85%);
@blue-90: hsl(200, @sat, 90%);
@blue-95: hsl(200, @sat, 95%);
@red-50: hsl(5, @sat, 50%);
@green-50: hsl(160, @sat, 50%);
@yellow-50: hsl(55, @sat, 50%);

@mid-grey: hsl(200, 10%, 60%);
@blue-light-text: hsl(200, 20%, 80%);
@blue-dark-text: hsl(200, 20%, 20%);

/* Dark template */

@background-color: @blue-05;
@header-color: @blue-15;
@header-border-color: @blue-10;
@title-block-color: @blue-20;
@title-block-border-color: @blue-10;
@category-title-color: @blue-25;
@category-title-border-color: @blue-15;

@text-color: @blue-light-text;

/* White template WIP */
/*
@background-color: @blue-95;
@header-color: @blue-85;
@header-border-color: @blue-90;
@title-block-color: @blue-80;
@title-block-border-color: @blue-90;
@category-title-color: @blue-75;
@category-title-border-color: @blue-75;
@text-color: @blue-dark-text;
*/
