/* Dark template */
/* White template WIP */
/*
@background-color: @blue-95;
@header-color: @blue-85;
@header-border-color: @blue-90;
@title-block-color: @blue-80;
@title-block-border-color: @blue-90;
@category-title-color: @blue-75;
@category-title-border-color: @blue-75;
@text-color: @blue-dark-text;
*/
