#contact {
	.page-content {
		padding: 100px 20px 40px;
		background: black;
		text-align: center;

		p {
			font-size: 1.4rem;
		}
		#nope, #yes, #consumption {
			font-size: 1rem;
		}
		#nope {
			color: @red-50;
		}
		#yes {
			color: @green-50;
		}
		#consumption {
			color: @yellow-50;
		}
	}
}
