#contact {
	.page-content {
		padding: 80px 0 40px;

		.feel-free {
			p {
				.center();
				font-size: 1.5rem;

				&:nth-of-type(1) {
					font-size: 2rem;
				}
				&:nth-of-type(2) {
					margin-top: 15px;
				}
			}
		}
	}
	.logo-links {
		background: none;
		padding-top: 0;
		padding-bottom: 80px;
	}
}
