.gallery-content {
	.categ {
		margin-bottom: 50px;
		position: relative;

		.moron {
			position: absolute;
			right: 30px;
			top: 7px;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}

			p, a {
				display: inline-block;
				vertical-align: middle;
			}
			p {
				font-size: 23px;
			}
			a {
				text-decoration: none;
				margin: 10px;
				font-size: 35px;

				&:hover::before {
					color: white;
					.white-shadow();
				}
			}
		}
		.categ-content {
			padding: 15px 15px 30px;
			.flexrow();
			.flexcenter();
			.flexwrap();

			.alg {
				width: 450px;
				margin: 5px;
				border-radius: 2px;
				border: solid 1px rgba(100, 100, 100, 0.7);
				position: relative;
				overflow: hidden;

				* {
					.pointer();
				}
				h4.title {
					color: white;
					width: 100%;
					.center();
					font-size: 25px;
					padding: 5px 0;
					line-height: 35px;
					background: rgba(0,0,0,0.75);
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity 1s;
				}
				img {
					width: 100%;
					display: block;
					.img-placeholder();
				}
			}
		}
		/* Special treats */
		&.latest .categ-content .alg, /* 2019 A0 section */
		&.varphy .categ-content .alg { /* Varphy A0 section */
			// Force fixed height and width to prevent Safari mysterious bug
			&, & img {
				width: 212px;
				height: 300px;
			}
		}
	}

	@media (max-width: 800px) {
		.moron {
			display: none;
		}
	}
}

/** Zoom layer **/
#front {
	display: none;
	opacity: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 1;

	.zoom {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0; margin: auto;
		box-shadow: rgba(0, 0, 0, 0.75) 0 0 35px;
		// width and height handled in gallery.js

		img.fullone {} // width and height handled in gallery.js
		.quit {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			right: 0;
			background: url('../img/website/cross3.png');
			opacity: 0.3;
			background-size: 80% 80%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			.pointer();

			&:hover {
				background-position: 50% 50%;
				background-size: 90% 90%;
				opacity: 0.85;
			}
		}
		.details {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			min-height: 10%;
			opacity: 0;
			transition: opacity 500ms;

			.description {
				background: rgba(255, 255, 255, 0.85);
				width: 100%;
				height: 100%;

				p {
					color: @blue-10;
				}
				p.title {
					width: 100%;
					text-align: center;
					font-size: 1.5em;
					padding: 10px 0;
				}
				p.text {
					padding-bottom: 20px;
					font-size: 1em;
					width: 80%;
					margin-left: 10%;
					.center();
				}
			}
		}
	}

	/*.loader {
		-webkit-animation: spin 2s linear infinite;
		-moz-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		.marjinoto();
		width: 120px;
		height: 120px;
	}*/
	.loader {
		width: 120px;
		height: 170px;
		.marjinoto();

		.loader-animation {
			position: relative;
			width: 120px;
			height: 120px;
			margin-bottom: 10px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 120px;
				height: 120px;
				transform-origin: 50% 70%;
				animation: sway-revert 3000ms infinite linear;
				z-index: 1;

				&:nth-of-type(1) {
					animation-delay: 0ms;
					z-index: 1;
				}
				&:nth-of-type(2) {
					animation-delay: 1500ms;
					z-index: 1;
					opacity: 0;
				}
			}
		}
		p.loadingtext {
			color: @blue-10;
		}
	}
}
@keyframes sway-revert {
	from { transform: scale(1); z-index: 3; opacity: 1; }
	10% { transform: scale(0.15); z-index: 3; }
	30% { z-index: 1; }
	60% { z-index: 2; }
	to { transform: scale(1); opacity: 1; }
}

@media (min-width: 500px) {

	.gallery-content .alg img {
		height: 300px;
	}

	/* Radial */
	.gallery-content .alg#art-id-2015-4 img {
		/* White Time */
		width: 600px;
		margin-left: -75px;
	}
	.gallery-content .alg#art-id-2015-5 img {
		/* Harsh */
		width: 600px;
		margin-left: -75px;
	}
	.gallery-content .alg#art-id-2015-8 img {
		/* Kuzco 5 */
		width: 550px;
		margin-left: -50px;
	}
	.gallery-content .alg#art-id-2015-10 img {
		/* Rhodo */
		width: 600px;
		margin-left: -75px;
	}
	.gallery-content .alg#art-id-2015-11 img {
		/* Shiver */
		height: 450px;
		margin-top: -75px;
		margin-bottom: -75px;
	}
	/* Gravitational */
	.gallery-content .alg#art-id-2016-1 img {
		/* Gravitational Blackhole */
		width: 550px;
		margin-left: -50px;
	}
	.gallery-content .alg#art-id-2015-9 img {
		/* Gandalf Thinking */
		width: 500px;
		margin-left: -25px;
	}
	/* Experiments */
	.gallery-content .alg#art-id-2015-2 img {
		/* PlayChaos 1 */
		width: 550px;
		margin-left: -50px;
	}
	.gallery-content .alg#art-id-2015-3 img {
		/* Zeus Bolt */
		width: 600px;
		margin-left: -75px;
	}
	.gallery-content .alg#art-id-2015-12 img {
		/* Summer 2015 */
		width: 600px;
		margin-left: -65px;
	}
	.gallery-content .alg#art-id-2015-6 img {
		/* Duel */
		width: 550px;
		margin-left: 0;
	}
	.gallery-content .alg#art-id-2017-3 img {
		/* Lightbeams Eye */
		width: 570px;
		margin-left: -55px;
	}
	.gallery-content .alg#art-id-2017-1 img {
		/* Hexocet Explode */
		width: 570px;
		margin-left: -55px;
	}
}

.alg {
	margin: 5px;
	border-radius: 2px;
	border: solid 1px rgba(100, 100, 100, 0.7);
	position: relative;
	overflow: hidden;

	* {
		.pointer();
	}
	h4.title {
		color: white;
		width: 100%;
		.center();
		font-size: 25px;
		padding: 5px 0;
		line-height: 35px;
		background: rgba(0,0,0,0.75);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 1s;
	}
	img {
		width: 100%;
		display: block;
		.img-placeholder();
	}
}

.alg.landscape {
	& {
		width: 450px;
	}
	&, & img {

	}
}
.alg.portrait {
	// Force fixed height and width to prevent Safari mysterious bug
	&, & img {
		width: 140px;
		height: 200px;
	}
}
.alg.main-img.portrait {
	&, & img {
		width: 224px;
		height: 320px;
		flex-shrink: 0;
	}
}
.gallery-content-2 {
	.categ {

	}
}

// New gallery exceptions, only for landscape images because they all have erratic formats
@media (min-width: 500px) {

	.gallery-content-2 .alg.landscape {
		// Base treat
		img {
			height: 300px;
		}
		&#art-id-2015-4 img {
			/* White Time */
			width: 600px;
			margin-left: -75px;
		}
		&#art-id-2015-5 img {
			/* Harsh */
			width: 600px;
			margin-left: -75px;
		}
		&#art-id-2015-8 img {
			/* Kuzco 5 */
			width: 550px;
			margin-left: -50px;
		}
		&#art-id-2015-10 img {
			/* Rhodo */
			width: 600px;
			margin-left: -75px;
		}
		&#art-id-2015-11 img {
			/* Shiver */
			height: 450px;
			margin-top: -75px;
			margin-bottom: -75px;
		}
		/* Gravitational */
		&#art-id-2016-1 img {
			/* Gravitational Blackhole */
			width: 550px;
			margin-left: -50px;
		}
		&#art-id-2015-9 img {
			/* Gandalf Thinking */
			width: 500px;
			margin-left: -25px;
		}
		/* Experiments */
		&#art-id-2015-2 img {
			/* PlayChaos 1 */
			width: 550px;
			margin-left: -50px;
		}
		&#art-id-2015-3 img {
			/* Zeus Bolt */
			width: 600px;
			margin-left: -75px;
		}
		&#art-id-2015-12 img {
			/* Summer 2015 */
			width: 600px;
			margin-left: -65px;
		}
		&#art-id-2015-6 img {
			/* Duel */
			width: 550px;
			margin-left: 0;
		}
		&#art-id-2017-3 img {
			/* Lightbeams Eye */
			width: 570px;
			margin-left: -55px;
		}
		&#art-id-2017-1 img {
			/* Hexocet Explode */
			width: 570px;
			margin-left: -55px;
		}
	}
}
