#home {
	a {
		text-decoration: none;
	}
	.home-whatsnew {
		.whatsnew-content {
			padding: 10px 15px 30px;
			.center();

			h3 {
				font-size: 1.5rem;
			}
			hr {
				margin: 20px 0 15px;
				width: 60%;
				margin-left: 20%;
				border-color: rgba(255, 255, 255, 0.2);

				@media (max-width: 800px) {
					width: 90%;
					margin-left: 5%;
				}
            }
			.news-block {
				margin: 30px;
			}
            .news-varphy-exhib {
				img.exhib-time {
					width: 450px;
					margin-bottom: 20px;
				}
                .varphy-spoiler {
					margin-bottom: 10px;
					img {
						width: 180px;
						margin: 10px;
						border: #222 1px solid;
					}
					@media (max-width: 500px) {
						.flexcol();
					}
                }
            }

			.trailer {
				iframe {
					max-width: 90%;
				}
			}
		}
	}

	.showcase {
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;

		.showcase-wrapper {
			width: 400%;
			height: 464px;
		}
		img {
			height: 220px;
			margin: 3px;
			border: solid 1px rgba(255, 255, 255, 0.2);
			display: inline-block;
		}

	}

	/* Rules for width based on screen size */
	/* Adjust each time there's a new artwork... */
	.home-gallery .showcase-wrapper {
		width: 5450px;
	}
	.home-projects .showcase-wrapper {
		width: 4650px;
	}

	.home-gallery, .home-projects {
		position: relative;
	}
	p.scroll-left,
	p.scroll-right {
		position: absolute;
		background: rgba(0, 0, 0, 0.85);
		width: 70px;
		height: 70px;
		border-radius: 50%;
		color: rgba(255, 255, 255, 0.9);
		opacity: 0.8;
		font-size: 30px;
		.center();
		top: 265px;

		&:hover {
			opacity: 1
		}
		span.fa {
			.marjinoto();
			height: 30px;
			width: 30px;
		}
	}
	p.scroll-left {
		left: 50px;
		span.fa {
			left: -2px;
		}
	}
	p.scroll-right {
		right: 50px;
		span.fa {
			left: 5px;
		}
	}

	.home-animations {
		.videos {
			padding: 0 15px;
		}
		.moar {
			display: block;
			.margin-v();
			.center();
		}
	}
}