// main: "./main.less"

#home {

	.home-upcoming-events {
		background: @blue-05;
		padding: 10px;

		p {
			margin: .3em 0;
		}
		span.dot {
			content: ' ';
			display: inline-block;
			background: @mid-grey;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			margin-right: .3em;
		}
		span.reddot {
			animation: reddot 1.5s alternate infinite linear;
		}
	}
	.home-whatsnew {
		.whatsnew-content {
			padding: 10px 15px 30px;
			@media (max-width: @xs-sm) {
				padding: 0;
			}

			.news-blocks {
				.center();
				.flexcol();
				.flexwrap();
				.flexcenter();

				.news-block {
					margin: 30px 0;
					background: rgba(255, 255, 255, 0.04);
					padding: 25px 0;
					position: relative;
					box-shadow: @blue-40-transparent 0 0 30px 15px;

					&.hidden {
						display: none;
					}

					p {
						padding: 0 1em;
					}

					p.article-date {
						position: absolute;
						left: -50px;
						bottom: 31px;
						font-size: 0.7rem;
						color: rgba(255, 255, 255, 0.2);
						transform: rotate(-90deg);
						padding: 0;

						@media (max-width: @xs-sm) {
							transform: none;
							left: 0;
							right: 0;
							bottom: -18px;
						}
					}
					
					img {
						.img-placeholder();
						max-width: 100%;
						width: 650px;
					}

					&.ends-with-image img {
						margin-bottom: -30px;
					}

					&.news-feb-2021 {
						img {
							margin: 0.3em 0;
							width: 80px;
							background: transparent;
							animation: none;
						}
					}
					&.news-gdchels {
						img {
							background-color: white;
							animation: none;
						}
					}
					&.news-vp2-sharing {
						p.vp2-sharing-list {
							font-size: .85em;
						}
					}
					&.news-dame-recherche {
						img {
							width: 250px;
							margin: 10px;
							flex-grow: 1;
						}
					}
					&.news-varphy-subs {
						.friend-logos {
							padding-top: 10px;
							.flexrow();
							.flexwrap();

							img {
								max-height: 100px;
								margin: 20px;
								width: auto;
								background: transparent;
								animation: none;
							}
						}
					}
					&.news-portraits-1-start {
						img {
							margin: 10px;
						}
					}
					&.news-ecl-vr {
						img {
							margin: 10px;
						}
						@media (max-width: @xs-sm) {
							.flexrow { .flexcol(); }
							img {
								width: 300px;
								height: auto;
							}
						}
					}
					&.news-ecl-exhib {
						.button-container {
							padding-top: 20px;
						}
					}
					&.news-technicarticle {
						p.credits {
							font-size: 0.7rem;
						}
					}
					&.news-varphy-exhib {
						.varphy-spoiler {
							margin-bottom: 10px;
							
							img {
								width: 200px;
								margin: 10px;
								border: #222 1px solid;
								flex-grow: 1;

							}
						}
					}

					button.acidbutton {
						margin-bottom: 0;
					}
				}
			}

			.load-more-news.hidden {
				display: none;
			}
		}
	}

}
@keyframes reddot {
	from {
		background: red;
	}
	to {
		background: transparent;
	}
}