// main: "./main.less"

.geom {
	--size: 40px;

	.shape {
		border: solid hsla(210, 90%, 55%, .8) 0.5px;
		box-shadow: hsla(210, 90%, 50%, 1) 0 0 5px inset, hsla(210, 90%, 50%, 1) 0 0 3.5px;
		width: var(--size);
  		height: var(--size);

		&.square {

		}
		&.tilted {
			transform: rotate(45deg) scale(0.87);
		}
		&.circle {
			border-radius: 50%;
		}
	}

	&.in-header {
		.shape {
			--size: 20px;
		}
	}

	&.is-rotated {
		.shape {
			transform: rotate(45deg);
		}
	}
}
img.blob {
	width: 100px;
}
.format-icons {
	height: 1rem;
	padding-bottom: 1.5rem;
	span {
		margin: 0 0.7rem 0.7rem 0;
		border: solid white 1px;
		border-radius: 1rem;
		font-size: .8rem;
		padding: 0.2rem 0.4rem;
		color: @text-color;
		font-family: 'Raleway', sans-serif;
	}
}
