/** About **/
.about-me {
	position: relative;
	padding: 50px 0 10px;
	margin-bottom: 50px;
	
	h2, p {
		.center();
	}
	h2 {
		font-size: 60px;
		margin-bottom: 25px;
		background: black;
		box-shadow: rgba(255, 255, 255, 0.5) 0 0 15px;
	}
	p {
		font-size: 30px;
		padding: 0 10px;
		
		&:nth-of-type(1) {
			font-size: 40px;
			margin-top: 40px;
		}
		&:nth-of-type(2),
		&:nth-of-type(4) {
			margin-top: 15px;
		}
	}

}

.logo-links {
	.flexrow();
	.flexcenter();
	margin-top: 40px;

	a {
		color: white;
		margin: 10px 35px;

		span.fa {
			//text-shadow: rgba(255, 255, 255, 0.3) 0 0 15px;
			transform: rotateY(0deg);
			transition: transform 500ms;
			font-size: 80px;

			&:hover {
				text-shadow: rgba(255, 255, 255, 0.85) 0 0 50px;
				transform: rotateY(180deg);
			}
		}
	}
}
