.logo-links {
	.flexrow();
	@media (max-width:800px) { .flexcol(); }
	.flexcenter();
	padding: 40px 0;
	background: @blue-15;

	a {
		color: white;
		margin: 10px 25px;

		span.fa {
			//text-shadow: rgba(255, 255, 255, 0.3) 0 0 15px;
			font-size: 60px;

			&:hover {
				text-shadow: rgba(255, 255, 255, 0.85) 0 0 50px;
			}
		}
	}
}
.coming-soon {
	position: relative;
	.center();
	height: 250px;

	.logo {
		.marjinoto();
		width: 150px;
		height: 150px;

		img, svg {
			width: 150px;
			height: 150px;
			//animation: spinblur 10s linear infinite;
			animation: spin 3s linear infinite, blur 3s infinite;
			//opacity: 0.7;
		}
	}
	p {
		.marjinoto();
		font-size: 2rem;
		margin-left: 10px;
		.weight-200();
		.center();
		padding: 100px 20px;
	}
}
.page-banner {
	position: relative;
	filter: contrast(110%);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 180px;
	width: 100%;
	background-position-y: 50%;
	.small-mobile-height();

	#home & {
		//background-size: 1500px 985px;
		//background-position-x: 50%;
		background-image: url('../img/misc/header/header-vp-5.jpg');
		background-position-y: 25%;
	}
	#gallery & {
		background-image: url('../img/misc/header/annihilation.jpg');
		//@media (max-width: 500px) { .autoimage(); }
	}
	#films & {
		background-image: url('../img/misc/header/header-vp-9.jpg');
		@media (max-width: 500px) { .autoimage(); }
	}
	#web-dataviz & {
		background-image: url('../img/projects/huehuntresults-full.png');
		background-position-y: 40%;
		//@media (max-width: 500px) { .autoimage(); }
	}
	#cc & {
		background-image: url('../img/misc/header/header-orb-colors.jpg');
		//@media (max-width: 500px) { .autoimage(); }
	}
	#more & {
		background-image: url('../img/misc/header/header-vp-1.jpg');
		background-position-y: 32%;
	}
	#about & {
		background-image: url('../img/misc/header/header-rhodo.jpg');
		//@media (max-width: 500px) { .autoimage(); }
	}
	#contact & {
		background-image: url('../img/misc/hex-bubbles.jpg');
		//@media (max-width: 500px) { .autoimage(); }
	}
	#cv & {
		// Default orb color image
	}
}
.autoimage {
	background-size: auto;
	background-position-x: 50%;
}
.small-mobile-height {
	@media (max-width: 400px) {
		height: 100px;
	}
}
@keyframes spinblur {
	from { transform: rotate(0deg); filter: blur(1px); }
	50% { transform: rotate(180deg); filter: blur(15px); }
	to { transform: rotate(360deg); filter: blur(1px); }
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@keyframes blur {
	from { filter: blur(1px); }
	50% { filter: blur(30px); }
	to { filter: blur(1px); }
}

#ie-fallback {
	display: none;
}