h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Raleway', sans-serif;
  color: @blue-text;
}
.weight-200 {
  font-weight: 200;
}
.weight-300 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  .weight-300();
}
