#web-dataviz {
	.radios {
		@media (max-width: 800px) {
			display: none;
		}
	}
	.web-dataviz-projects {
		.flexrow();
		.flexwrap();
		.flexcenter();
		padding: 20px 15px 60px;

		.show {
			.center();
		}
		.hidden {
			display: none;
			opacity: 0;
		}
	}
	.project-tile {
		.flexrow();
		.flexcenter();
		align-self: stretch;

		// On mobile, force new project tile display (flexcol)
		@media (max-width: 850px) {
			.flexcol();

			.right-side {
				.center();
				max-width: 100%;

				h4 {
					margin-top: 5px;
				}
			}
		}
	}
}
