<!DOCTYPE html>
<html lang="en">
<head>
	<title>Alex Andrix | Algorithmic art and experiments</title>
	
	<!-- Meta stuff -->
	<meta charset="utf-8" />
	<meta name="keywords" content="Alex Andrix, Alexandrix, creative coding, algorithmic art, digital art, particles" />
	<meta name="author" content="Alex Andrix" />
	<meta name="description" content="Algorithmic art and experiments | Hi there, my name is Alex and I create art with science and technology." />
	<link rel="canonical" href="http://alexandrix.com/" />

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/website/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/website/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/website/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/website/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/website/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/website/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/website/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/website/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/website/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/website/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/website/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/website/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/website/icons/favicon-16x16.png">
	<link rel="manifest" href="img/website/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="img/website/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#000000">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/less" href="less/main.less" />
	<link rel="stylesheet" type="text/css" href="css/ie-fallback.css" />

	<!-- Only script in header: less on-the-fly compiler -->
	<script type="text/javascript" src="node_modules/less/dist/less.min.js"></script>
	
</head>
<body>

<template id="projects-template">
	<div id="projects">
		<vue-title title="Alex Andrix | Projects"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="4" rotate="true"></geom>
			<h1>Projects</h1>
			<div class="radios">
				<p class="radio active" data-filter="all">
					<span class="fa"></span> all
				</p>
				<p class="radio" data-filter="artistic">
					<span class="fa"></span> artistic
				</p>
				<p class="radio" data-filter="web">
					<span class="fa"></span> web
				</p>
				<p class="radio" data-filter="dataviz">
					<span class="fa"></span> data visualization
				</p>
			</div>
		</div>

		<div class="page-content">
			<div class="all-projects">
				<!-- Filled with XHR reading XML content -->
			</div>
			<div class="ongoing">
				<h2>On track</h2>
				<p><strong>ECL digital art exhibition</strong> - Ecole Centrale de Lyon - Nov 2018</p>
				<p><strong>Kinexperience</strong> sprint 2 - Les Subsistances, Lyon - Jan/feb 2019</p>
				<!--<p><strong>Variations Physiques</strong> - Laboratoire de Physique de l'ENS de Lyon - Sept/oct 2018</p>-->
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="about-template">
	<div id="about">
		<vue-title title="Alex Andrix | About"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="4"></geom>
			<h1>About</h1>
		</div>

		<div class="page-content">
			<div class="statement">
				<!--
				<p class="headline">How far can we go with the sublime nature of our universe mechanics?</p>
				<br/>
				<br/>
				-->
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<p>Hi there, my name is Alex.</p>
				<br/>
				<br/>
				<p>I paint my world with particles.</p>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<p>So I guess I do particle art.</p>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>

				<p>Also I<br/><span class="polyam">{{ currentPolyam }}</span>.</p>

				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<!--
				<p class="the-question">Hi there, my name is Alex, and I create art with science and technology. Oh, and particles. A lot of particles.</p>
				-->
				<!--<br/>
				<p>My passion for physics and front-end web programming led me to the universe of algorithmic art.</p>-->
				<!--
				<br/>
				<p>It probably started in 2010, while studying the motion of plasma particles around the planets of our solar system.</p>
				<p>I became enthralled by the intrinsic beauty of force field equations they revealed.</p>
				<br/>
				<p>As years passed, I discovered the creative power of web programming. After an award-winning team project at KTH Royal Institute of Technology in 2014 involving creating artworks with voice, I started creating my own techniques for creative coding using HTML canvas and JavaScript.</p>
				<br/>
				<p>Since 2018 I work full-time on artistic projects involving science.</p>
				<br/>
				
				-->
				<p class="feel-free">Thanks for visiting, feel free to share any creative thoughts!</p>

			</div>

			<br/>
			<br/>
			<br/>

			<div class="flexcol flexcenter pic">
				<img src="img/misc/picbw.png" alt="Alex Andrix picture" title="Sorta me in 2018" />
				<p class="asif">@credits - asiftherewerecreditsIjuststoodinmyhotelroom & photoshoppedthisthingbecausesomeoneaskedforit</p>
			</div>

			<br/>
			<br/>
			<br/>
			<br/>

		</div>

		<!-- Links -->
		<div class="title-block">
			<geom base-sides="4"></geom>
			<h1>Links</h1>
		</div>

		<div class="about-links">
			<div class="page-content">
				<br/>
				<p>
					Art exhibition at École Normale Supérieure de Lyon, Fête de la Science (FR, 2018), <a href="https://bibli.ec-lyon.fr/actualites/2018/exposition-physique-art-numerique-dynamique-fluides" target="_blank">Ecole Centrale de Lyon article</a>, <a href="http://www.ens-lyon.fr/evenement/savoirs/physique-art-numerique-et-dynamique-des-fluides" target="_blank">ENS article</a>, ENS tweets: <a href="https://twitter.com/ENSdeLyon/status/1050307559851212801" target="_blank">1</a>, <a href="https://twitter.com/ENSdeLyon/status/1051101730178564096" target="_blank">2</a>, <a href="https://twitter.com/ENSdeLyon/status/1051102365707919360" target="_blank">3</a>
				</p>
				<p>LaboNRV article on Kinexperience sprint 1 (FR, 2018), <a href="http://labo-nrv.io/projet/kinexperience/" target="_blank">http://labo-nrv.io/projet/kinexperience/</a></p>
				<p>Improving HSL Recognition Skills with a Color Game (2016), <a href="http://alexandrix.com/huehunt/assets/Improving%20HSL%20Recognition%20Skills%20with%20a%20Color%20Game.pdf" target="_blank">http://alexandrix.com/huehunt/assets/Improving%20HSL%20Recognition%20Skills%20with%20a%20Color%20Game.pdf</a></p>
				<p>Animation de particules sur réseau hexagonal (FR, 2017), <a href="http://website.simplx.fr/blog/2017/02/07/animation-de-particules-sur-un-reseau-hexagonal/" target="_blank">http://website.simplx.fr/blog/2017/02/07/animation-de-particules-sur-un-reseau-hexagonal/</a></p>
				<p>L’aventure fluide : des systèmes de particules à Navier-Stokes (FR, 2017), <a href="http://website.simplx.fr/blog/2017/09/19/laventure-fluide-des-systemes-de-particules-a-navier-stokes/" target="_blank">http://website.simplx.fr/blog/2017/09/19/laventure-fluide-des-systemes-de-particules-a-navier-stokes/</a></p>
				<p>Creative coding meetup - Animating particles with JavaScript (2018), <a href="https://www.meetup.com/Design-et-technologie-pour-projets-citoyens/events/249032587/" target="_blank">https://www.meetup.com/Design-et-technologie-pour-projets-citoyens/events/249032587/</a></p>
				<p>Creative coding meetup - The magic of CSS3 filters (2018), <a href="https://twitter.com/SimplonLyon/status/986656069551304706" target="_blank">https://twitter.com/SimplonLyon/status/986656069551304706</a></p>
				<p>JavaScript tennis on OpenGL with Nik Rowell (2017), <a href="https://codepen.io/nikrowell/details/dgeoxW/" target="_blank">https://codepen.io/nikrowell/details/dgeoxW/</a></p>
				<p>Variations Physiques project setup (FR, 2018), <a href="http://alexandrix.com/variationsphysiques/docs/alexandrix_varphy_presentation.pdf" target="_blank">http://alexandrix.com/variationsphysiques/docs/alexandrix_varphy_presentation.pdf</a></p>
				<!--
				<p>La notion d'identité en trois mouvements, essai préparatif Labomobile #1 (FR, 2018), <a href="http://alexandrix.com/misc/labomobile-identity-intro-essay.pdf" target="_blank">http://alexandrix.com/misc/labomobile-identity-intro-essay.pdf</a></p>
				<p>Ariadne, A Haptic Maze (2015), <a href="http://alexandrix.com/misc/ariadne-haptics.pdf" target="_blank">http://alexandrix.com/misc/ariadne-haptics.pdf</a></p>
				<p>Speakasso, <a href="http://www.csc.kth.se/~acvds/info_vis/speakasso/" target="_blank">http://www.csc.kth.se/~acvds/info_vis/speakasso/</a></p>
				<p>l'Etudiant, (FR, 2016), <a href="https://www.letudiant.fr/etudes/international/international-ils-ont-reussi-leur-double-diplome.html" target="_blank">https://www.letudiant.fr/etudes/international/international-ils-ont-reussi-leur-double-diplome.html</a></p>
				-->
				<p>_Transition, <a href="https://melting.space/transition/" target="_blank">https://melting.space/transition/</a></p>
				<p>Kinexperience, <a href="http://alexandrix.com/kinexperience" target="_blank">http://alexandrix.com/kinexperience</a></p>
				<p>Melting Space Blog, as Icosacid, <a href="https://melting.space/new/#/blog" target="_blank">https://melting.space/new/#/blog</a></p>
				<p>CodePen Spark of April 24th 2017, Squidematics, <a href="https://codepen.io/spark/21" target="_blank">https://codepen.io/spark/21</a></p>
				<p>First CodePen Challenge of March 2018, as Acid, <a href="https://blog.codepen.io/2018/03/10/codepenchallenge-stargate-roundup/" target="_blank">https://blog.codepen.io/2018/03/10/codepenchallenge-stargate-roundup/</a></p>
				<p>GitKraken Art Gallery, artwork 2.6, <a href="https://www.gitkraken.com/art" target="_blank">https://www.gitkraken.com/art</a></p>
				<!--<p>, <a href="" target="_blank"></a></p>-->

			</div>
		</div>

		<logo-links></logo-links>

		<div class="resume-riddle center">
			<div class="flexrow flexcenter" v-if="!showRiddle">
				<button class="acidbutton huge-btn" v-on:click="showRiddle = true">See Resume</button>
			</div>

			<div class="riddle" v-if="showRiddle">
				<div class="riddle-text">
					<p class="riddle-intro">Here is a riddle first...</p>
					<p>
						<strong><em>
							I have a root.
							<br/>
							I am irrational.
							<br/>
							Artists and scientists have discovered my nature and used my value.
							<br/>
							What am I?
						</em></strong>
					</p>
				</div>

				<div class="riddle-input">
					<!-- Since you read the code... just navigate to /cv ;) -->
					<!-- Otherwise the answer is the golden number -->
					<input v-model="riddleAnswer" placeholder="Type answer here..." />
					<p class="error">Try again</p>
				</div>

				<button class="riddle-submit acidbutton huge-btn" v-on:click="submitRiddle()">Show resume</button>

			</div>
		</div>
	</div>
</template>

<div id="alexandrix-website">
	<div class="header"
		 v-bind:class="{ 'mobile-menu-open': isOpen }"
		 v-bind:style="'filter: hue-rotate(' +  hueAngle + 'deg);'">
		<div class="logo">
			<router-link to="/" class="menu-tab home">
				<!--<img src='img/website/icosacidron-svg-blue.svg' />-->
				<img src='img/website/triangoffset.svg' />
			</router-link>
		</div>
		<div class="menu" v-on:click="isOpen = false">
			<router-link to="/" class="menu-tab home">
				<geom base-sides="4" header="true"></geom>
				Home
			</router-link>
			<router-link to="/gallery" class="menu-tab gallery">
				<geom base-sides="0" header="true"></geom>
				Gallery
			</router-link>
			<router-link to="/projects" class="menu-tab projects">
				<geom base-sides="4" header="true" rotate="true"></geom>
				Projects
			</router-link>
			<router-link to="/more" class="menu-tab more">
				<geom base-sides="0" header="true"></geom>
				More
			</router-link>
			<router-link to="/about" class="menu-tab about">
				<geom base-sides="4" header="true"></geom>
				About
			</router-link>
			<router-link to="/contact" class="menu-tab contact">
				<geom base-sides="4" header="true" rotate="true"></geom>
				Contact
			</router-link>
			<!--<router-link to="/cv" class="menu-tab cv">
				<geom base-sides="4" header="true" rotate="true"></geom>
				CV
			</router-link>-->
		</div>
		<div class="mobile-burger" v-on:click="isOpen = !isOpen">
			<p class="fa fa-bars" v-if="!isOpen"></p>
			<p class="fa fa-times" v-if="isOpen"></p>
		</div>
	</div>

	<div class="core" v-bind:style="'filter: hue-rotate(' +  hueAngle + 'deg);'">
		<router-view></router-view>
	</div>

	<div class="footer" v-bind:style="'filter: hue-rotate(' +  hueAngle + 'deg);'">
		<div class="flexrow flexcenter flexchildrenend">
			<img class="footer-logo" src="img/website/triango.svg" />
			<p class="click-and-hue" v-on:click="rotateLeHue()">
				&nbsp;ALEX ANDRIX @2015-2018
			</p>
		</div>
		<p class="crafted">
			<span>Crafted with</span>
			<img src='img/website/vue.png' alt="Vue.js" title="Vue JS"/>
			<span>and</span>
			<img class="jquery" src='img/website/jquery.png' alt="jQuery" title="jQuery"/>
		</p>
		<p class="version">v3.7</p>
	</div>

	<!-- Artwork detail container for Gallery (has to be here for CSS reasons) -->
	<div id="front">
		<div class="zoom">
			<!--<img class='loader' src='img/website/triangorot.svg' />-->
			<div class="loader">
				<div class="loader-animation">
					<img src='img/loader/triango-outer-layer-black.svg' />
					<img src='img/loader/triango-outer-layer-blue.svg' />
				</div>
				<p class="loadingtext">Loading image...</p>
			</div>

			<div class='fullimg'>
				<img src="/" alt="" />
			</div>
			<div class='quit' title="Back to gallery"></div>
			<div class='details'>
				<div class='description'>
					<p class='title'>Title</p>
					<p class='text'>Lorem</p>
				</div>
				<div class='social'>
					<div class='deviant'>

					</div>
					<div class='github'>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- View templates -->
<template id="home-template">
	<div id="home">
		<vue-title title="Alex Andrix | Algorithmic art and experiments"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="4"></geom>
			<h1>Home</h1>
		</div>

		<div class="page-content no-padding">

			<div class="home-gallery">
				<router-link to="/gallery">
					<h3 class="categname">Gallery</h3>
					<div class="showcase" data-scroll="0">
						<div class="showcase-wrapper">
							<img v-for="path in homeGallery" v-bind:src="path" />
						</div>
					</div>
					<p class="scroll-left" v-on:click="scrollLeft($event)"><span class="fa fa-chevron-left"></span></p>
					<p class="scroll-right" v-on:click="scrollRight($event)"><span class="fa fa-chevron-right"></span></p>
				</router-link>
			</div>

			<div class="home-projects">
				<router-link to="/projects">
					<h3 class="categname">Projects</h3>
					<div class="showcase" data-scroll="0">
						<div class="showcase-wrapper">
							<img v-for="path in homeProjects" v-bind:src="path" />
						</div>
					</div>
					<p class="scroll-left" v-on:click="scrollLeft($event)"><span class="fa fa-chevron-left"></span></p>
					<p class="scroll-right" v-on:click="scrollRight($event)"><span class="fa fa-chevron-right"></span></p>
				</router-link>
			</div>

			<div class="home-whatsnew">
				<h3 class="categname">What's new</h3>
				<div class="whatsnew-content">

					<!-- Varphy trailer -->
					<div class="news-block">
						<p>Variations Physiques VR trailer</p>
						<br/>
						<div class="trailer">
							<iframe src="https://player.vimeo.com/video/296754990" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>

					<hr/>

					<!-- Varphy exhib -->
					<div class="news-block news-varphy-exhib">
						<p>Art-science exhibition at ENS de Lyon - Oct. 2018</p>
						<p>Printed artworks, interactive screens, VR experience</p>
						<br/>
						<img class="exhib-time" src="img/varphy/exhib-time.jpg" alt="Variations Physiques Exhibition" />
						<br/>
						<div>
							<a class="acidbutton" href="https://bibli.ec-lyon.fr/actualites/2018/exposition-physique-art-numerique-dynamique-fluides" target="_blank">More about the exhibition</a>
						</div>
						<br/>
						<br/>
						<div class="varphy-spoiler flexrow flexcenter">
							<img src="img/varphy/expo-2-tiny.jpg" alt="Variations Physiques exhibition"/>
							<img src="img/varphy/expo-1-tiny.jpg" alt="Variations Physiques exhibition"/>
							<img src="img/varphy/expo-3-tiny.jpg" alt="Variations Physiques exhibition"/>
						</div>
						<div>
							<a class="acidbutton" href="./varphygallery" target="_blank">To the digital gallery</a>
						</div>
					</div>

					<hr/>

					<!-- Kinexperience -->
					<div class="news-block">
						<p>Kinexperience dance project at Subsistances - Feb. 2019</p>
						<br/>
						<a class="acidbutton" href="./kinexperience" target="_blank">More about Kinexperience</a>
					</div>

					<hr/>

					<!-- _Transition trailer -->
					<div class="news-block">
						<p>New _Transition VR experience trailer</p>
						<br/>
						<div class="trailer">
							<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nQqBPO8K01A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<br/>
						<a class="acidbutton" href="./transition" target="_blank">More about _Transition</a>
					</div>
				</div>

			</div>

		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="gallery-template">
	<div id="gallery">
		<vue-title title="Alex Andrix | Gallery"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="0"></geom>
			<h1>Gallery</h1>
		</div>

		<div class="page-content no-padding">
			<div class="gallery-content">
				<!-- Filled with XHR reading XML content -->
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="more-template">
	<div id="more">
		<vue-title title="Alex Andrix | More"></vue-title>

		<div id="animations">
			<div class="page-banner"></div>

			<div class="title-block">
				<geom base-sides="0"></geom>
				<h1>Animations</h1>
			</div>

			<div class="page-content">
				<p class="seen center">Seen: {{ seenAnims.length }}/{{ animationPaths.length }}</p>
				<div class="randomize">
					<button class="acidbutton huge-btn" v-on:click="randomizeDisplayedPaths()">Randomize</button>
				</div>

				<!--<video src="vids/kuzco5.mp4" autoplay poster="posterimage.jpg"></video>-->
				<div class="videos">
					<video v-for="path in displayedPaths" v-bind:src="path" autoplay loop muted></video>
				</div>

			</div>
		</div>

		<div id="vjing">
			<div class="title-block">
				<geom base-sides="0"></geom>
				<h1>Vjing</h1>
			</div>

			<div class="page-content">
				<coming-soon></coming-soon>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="contact-template">
	<div id="contact">
		<vue-title title="Alex Andrix | Contact"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="4" rotate="true"></geom>
			<h1>Contact</h1>
		</div>

		<div class="page-content">
			<div class="feel-free">
				<p>Feel free to enquire or share any creative thoughts</p>
				<p>I don't use any social network, this website is the one and only source of my work</p>
				<p>Still, my code is open-source and you are welcome to take a peep!</p>
				<br/>
				<p>You can <span class='aboutmail'>email me at alex(at)alexandrix.com</span>, check my <!--<span class='aboutdeviant'>Deviant</span>, my --><span class='aboutgithub'>GitHub</span> or my <span class='aboutcodepen'>Codepen</span></p>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="cv-template">
	<div id="cv">
		<vue-title title="Alex Andrix | Resume"></vue-title>
		<div class="page-banner"></div>

		<div class="title-block">
			<geom base-sides="0"></geom>
			<h1>CV</h1>
		</div>

		<div class="page-content">
			<div class="cvcore">
				<div class="intro">
					<p>My full name is Alexandre Andrieux. I code for work and I code for art.</p>
					<p>Previously working as a project manager in a French team of versatile web developers.</p>
					<p>Now making art with particles.</p>
					<!--<p>Together with our clients, we're designing and producing the greatest web and hybrid apps!</p>-->
					<!--<p>From sketching to interactive web prototyping, I create user interfaces. And I love that.</p>-->
					<!--<p>Right now I am working on a master thesis project about color recognition.</p>-->
					<!--<p>I would love to take a step further in the field of serious gaming.</p>-->
				</div>
				<div class="schools">
					<h4>Higher education</h4>
					<div class='item'>
						<div class='itemhead'>
							<img src='img/cv/ecl.png' alt='ECL' />
							<a href='https://www.youtube.com/watch?v=K5AtX7GajU8' target='_blank' title='School presentation on Youtube' alt='ECL video'>Ecole Centrale Lyon</a>
						</div>
					</div>
					<div class='item'>
						<div class='itemhead'>
							<img src='img/cv/kth.png' alt='KTH' />
							<a href='https://www.youtube.com/watch?v=IclqryPDGnA' target='_blank' title='School presentation on Youtube' alt='KTH video'>KTH Royal Institute of Technology</a>
						</div>
					</div>
				</div>
				<div class="webskills">
					<h4>Web skills</h4>

					<p class='overall'>Overall, I'm quite an experienced CSS ninja and architect who can handle the newest fancy JS framework and lead projects.</p>

					<h5>Everyday languages</h5>
					<p>JavaScript, CSS, XML and derived markups</p>

					<h5>Everyday platforms & tools</h5>
					<p>Git, CodePen, WebStorm, Firefox Dev Tools, Less/Sass, Lodash, NPM</p>

					<!--<div class='codeanddesign'>
						<div class='code'>
							<h5>My code is</h5>
							<p>neat with a rigorous markup</p>
							<p>cross-browser</p>
							<p>commented</p>
							<p>responsive</p>
						</div>
						<div class='design'>
							<h5>My designs aim at</h5>
							<p>being intuitive</p>
							<p title="HCI: Human-Computer Interaction">following HCI standards</p>
							<p>displaying harmonious color patterns</p>
							<p>receiving iterative user feedback for improvements</p>
						</div>
					</div>-->

					<h5>Some specific experience</h5>
					<div class='somexp'>
						<p>Git, Underscore/Lodash, NPM, Bower, Canvas, CSS Flexbox, Bootstrap, VueJS</p>
						<p>AngularJS, PubNub, D3.js, Axure, Web Midi API, Pure CSS</p>
						<p>Socket.io, Angular 2, Ionic, Google Analytics, Photoshop, Xiti tracking, GLSL, Web Audio API, XSLT</p>
						<p>jQuery Mobile, Symfony2, WebGL, Twig, CMS Wordpress, Unity (C#), Python</p>
						<p>CMS Drupal, CMS Joomla!, Wordpress, Java SE, C++</p>
					</div>

					<h5>Current projects</h5>
					<p>
						Transition: from organic to digital, with 3D artist jeanf
						<br/>
						Kinexperience, VR and motion capture, with dance researcher Ariane Cassimiro
						<br/>
						Variations Physiques, making art with the science of plasma (ENS de Lyon)
					</p>

				</div>
				<div class='abroad'>
					<div class='languages'>
						<h4>Languages I speak</h4>
						<div class='item french'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/france.png' alt='French' />
								<h5>French</h5>
							</div>
							<div class='moreabout'>
								<p>Mother tongue</p>
							</div>
						</div>
						<div class='item english'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/uk.png' alt='English' />
								<h5>English</h5>
							</div>
							<div class='moreabout'>
								<p>Fluent</p>
							</div>
						</div>
						<div class='item swedish'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/sweden.png' alt='Swedish' />
								<h5>Swedish</h5>
							</div>
							<div class='moreabout'>
								<p>Pretty OK</p>
							</div>
						</div>
						<div class='item spanish'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/spain.png' alt='Spanish' />
								<h5>Spanish</h5>
								<img class='flagicon' src='img/cv/china.png' alt='Chinese' />
								<h5>Chinese</h5>
							</div>
							<div class='moreabout'>
								<p>Basics</p>
							</div>
						</div>
					</div>
					<div class='countries'>
						<h4>Countries I lived in</h4>
						<div class='item france'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/france.png' alt='France' />
								<h5>France</h5>
							</div>
							<div class='moreabout'>
								<p>Home country, mainly Cannes (south) and Lyon (center)</p>
							</div>
						</div>
						<div class='item australia'>
							<div class='itemhead'>
								<img class='flagicon' src='img/cv/australia.png' alt='Australia' />
								<h5>Australia</h5>
							</div>
							<div class='moreabout'>
								<p>Melbourne, 6 months</p>
							</div>
						</div>
						<div class='item sweden'>

							<div class='itemhead'>
								<img class='flagicon' src='img/cv/sweden.png' alt='Sweden' />
								<h5>Sweden</h5>
							</div>
							<div class='moreabout'>
								<p>Stockholm, 1 year</p>
							</div>
						</div>
					</div>
				</div>
				<div class='cake'>
					<h4>Education and work</h4>
				</div>
				<!--<div class="enjoy">
					<h4>Things I enjoy</h4>
					<div class='item'>
						<div class='itemhead'>
							<img src='img/cv/shoe.png' alt='Running' />
							<h5>Running</h5>
						</div>
						<div class='moreabout'>
							<p>Running trails for competition and with friends.</p>
						</div>
					</div>
					<div class='item'>
						<div class='itemhead'>
							<img src='img/cv/note.png' alt='Music' />
							<h5>Music</h5>
						</div>
						<div class='moreabout'>
							<p>On track at the moment: Vivaldi (baroque), Zomboy (electronic) and AC/DC.<br/>Currently working on my piano skills. I enjoy ukulele and violin as well!</p>
						</div>
					</div>
					<div class='item'>
						<div class='itemhead'>
							<img src='img/cv/hsl.png' alt='HSL' />
							<h5>The HSL color scale</h5>
						</div>
						<div class='moreabout'>
							<p>How it empowers our sense of harmony and creativity.</p>
						</div>
					</div>

				</div>-->
				<div class='recom'>
					<h4>I strongly recommend</h4>

					<div class='item'>
						<div class='itemhead'>
							<img class='roundicon' src='img/cv/joshua.jpg' alt='' />
							<a href='https://www.youtube.com/watch?v=LJS4fBjdPM4' target='_blank' title='Watch on Youtube' alt='Beyond Play: the Art of Creative Coding'>A W3C conference by Joshua Davis: Beyond Play, the Art of Creative Coding</a>
						</div>
						<div class='moreabout'>
							<p>An inspiring and rejuvenating talk for creative designs</p>
						</div>
					</div>

					<div class='item'>
						<div class='itemhead'>
							<img class='roundicon' src='img/cv/gamification.png' alt='' />
							<a href='https://www.coursera.org/course/gamification' target='_blank' title='Coursera: Gamification MOOC' alt='Gamification MOOC'>A MOOC: Gamification, University of Pennsylvania</a>
						</div>
						<div class='moreabout'>
							<p>by Kevin Werbach and his associates</p>
						</div>
					</div>

					<div class='item'>
						<div class='itemhead'>
							<img class='roundicon' src='img/cv/codepenradio.jpg' alt='' />
							<a href='https://blog.codepen.io/radio/' target='_blank' title='Listen on codepen.io' alt='CodePen Radio'>A podcast: CodePen Radio</a>
						</div>
						<div class='moreabout'>
							<p>The ins and outs of running a web software business, by the 3 co-founders of codepen.io</p>
						</div>
					</div>

					<div class='item'>
						<div class='itemhead'>
							<img class='roundicon' src='img/cv/wtfviz.jpg' alt='' />
							<a href='http://viz.wtf/' target='_blank' title='Go to blog viz.wtf' alt='WTF Visualizations'>A blog: WTF visualizations</a>
						</div>
						<div class='moreabout'>
							<p>How to design a visualization the worst possible way</p>
						</div>
					</div>

					<div class='item'>
						<div class='itemhead'>
							<img class='roundicon' src='img/cv/androidjones.jpg' alt='' />
							<a href='http://androidjones.com/gallery/' target='_blank' title='To Android Jones gallery' alt='Android Jones'>A digital artist: Android Jones</a>
						</div>
						<div class='moreabout'>
							<p>Master in technique and creativity</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<template id="not-found-template">
	<div id="not-found">
		<vue-title title="Alex Andrix | Algorithmic art and experiments"></vue-title>
		<img src="img/website/404.png" title="Page not found" alt="Page not found" />
		<p class="msg-404">
			Not found
		</p>
		<p>The requested page at <strong>{{ requestedRoute }}</strong> doesn't exist!</p>

		<p class="pre-trouble">For your trouble, here's a glass icosahedron made of divs.</p>
		<div class="trouble">
			<div class='icosahedron'>
				<div class='triangle'>
					<div class='vertex'></div>
					<div class='depth1'>
						<div class='depth2'>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<!-- Components -->
<template id="geom-template">
	<div class="geom" :class="{'in-header': header, 'is-rotated': rotate}">
		<div v-if="newSides == 4" class="shape square">
			<div class="inner"></div>
		</div>
		<div v-if="newSides == 0" class="shape round">
			<div class="inner"></div>
		</div>
	</div>
</template>

<template id="logo-links-template">
	<div class="logo-links">
		<a class="mailme" title="Send an e-mail" href="#"
		   onclick='linkTo_UnCryptMailto("nbjmup+bmfyAbmfyboesjy/dpn");return false;'>
			<span class="fa fa-envelope-o"></span>
		</a>
		<!--<a class="deviant" title="Check my DeviantArt gallery" href="http://icosacid.deviantart.com/" target='_blank'>
			<span class="fa fa-deviantart"></span>
		</a>-->
		<a class='github' title="Check my repositories on GitHub" href="https://github.com/Icosacid" target='_blank'>
			<span class="fa fa-github"></span>
		</a>
		<a class='codepen' title="Play live with my code on Codepen" href="https://codepen.io/alexandrix" target='_blank'>
			<span class="fa fa-codepen"></span>
		</a>
	</div>
</template>

<template id="coming-soon-template">
	<div class="coming-soon">
		<div class="logo">
			<!--<img src='img/website/triangorot.svg' />-->
			<inline-svg-logo></inline-svg-logo>
		</div>
		<p>Coming soon...</p>
	</div>
</template>

<template id="inline-svg-logo-template">
	<svg id="acid-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">

		<path d=" M 500 380 L 396.08 560 L 603.92 560 L 500 380 M 500 308 L 333.72 600 L 666.28 596 L 500 308" stroke-width="1" stroke="black" fill="hsl(200, 83%, 95%)" fill-rule="evenodd" stroke-linecap="round"></path>

		<path d=" M 500 308 L 333.72 596 L 666.28 596 L 500 308 M 500 212 L 250.58 644 L 749.42 644 L 500 212" stroke-width="1" stroke="black" fill="hsl(200, 83%, 5%)" fill-rule="evenodd" stroke-linecap="round"></path>

		<path d=" M 500 212 L 250.58 644 L 749.42 644 L 500 212 M 500 20 L 84.31 734 L 915.70 740 L 500 20" stroke-width="1" stroke="black" fill="hsl(200, 83%, 42%)" fill-rule="evenodd" stroke-linecap="round"></path>

	</svg>
</template>

<!-- IE fallback -->
<div id="ie-fallback">
	<img width="150" height="150" src='img/website/icosacidron-svg-blue.svg' />
	<p>This website works best on modern browsers.<br/>Please don't use Internet Explorer and download <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>

	<p>Thanks!</p>
</div>

<!-- Libs -->
<script type='text/javascript' src="node_modules/vue/dist/vue.min.js"></script>
<!--<script type='text/javascript' src="node_modules/vue/dist/vue.js"></script>-->
<script type='text/javascript' src="node_modules/vue-router/dist/vue-router.min.js"></script>
<script type='text/javascript' src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- Ours -->
<script type='text/javascript' src="js/declarations.js"></script>
<script type='text/javascript' src="js/utils.js"></script>
<script type='text/javascript' src="components/head-title.js"></script>
<script type='text/javascript' src="components/home.js"></script>
<script type='text/javascript' src="components/more.js"></script>
<script type='text/javascript' src="components/gallery.js"></script>
<script type='text/javascript' src="components/projects.js"></script>
<script type='text/javascript' src="components/about.js"></script>
<script type='text/javascript' src="components/contact.js"></script>
<script type='text/javascript' src="components/cv.js"></script>
<script type='text/javascript' src="components/not-found.js"></script>
<script type='text/javascript' src="js/jAntispam.js"></script>
<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
